/*

background: linear-gradient(direccion|angulo, color, color, color...)

background: linear-gradient(direccion|angulo, color posicion, color posicion...)

background: linear-gradient(color, color, color...)


*/




div:nth-child(1){
    background: linear-gradient(90deg,rgba(176,174,238,1),rgba(29,30,31,1));
    height: 150px;
}


div:nth-child(2){
    background: linear-gradient(to right, red,brown,orange,yellow,blue,green,violet,pink);
    height: 150px;
}

div:nth-child(3){
    background: linear-gradient(to top,#000,#fff);
    height: 150px;
}

div:nth-child(4){
    background: linear-gradient(to left,red 300px, brown 400px, orange 700px);
    height: 150px;
}