body {
    background-color: rgb(186, 73, 73);
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .timer {
    font-size: 4em;
  }
  
  .button {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-r: 10px;
  }

  section{
    margin-left: 30%;
    box-sizing: border-box;
    width: 480px;
    height: 312.2px;
    background-color: rgb(193, 92, 92);
    justify-content: center;
    border-radius: 15px;
  }

  #boton{
    padding: 25px;
    display: flex;
    justify-content: center;
  }

  .botones {
    background-color: rgb(193, 92, 92);
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
  }

  .botones:hover {
    background-color: #a24b35;
  }

  .botones:active {
    background-color: #E76F51;
  }